/* Generics */
body,
figure{
    margin: 0 auto;
    max-width: 1080px;
}

h1{
    font-size: 38px;
    margin-bottom: 0;
}
address{
    font-style: normal;
}
a{
    text-decoration: none;
    color: aqua;
}
ul{
    padding-inline-start: 0;
    list-style-position: inside;
}

/* utilities */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.text-gray{
    color: gray;
}
.text-small{
    font-size: 10px;
}
.half-row-table{
    width: 50%;
}

/* main header */
#header1{
    height: 100px;
    background-color: rgb(50, 94, 225);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}
#logo{
    height: 50px;
    margin-top: 25px;
}

/* table */
table{
    border-collapse: collapse;
}
th{
    color: white;
    text-align: left;
    background-color: blue;
}
tr{
    background-color: aqua;
}
.even{
    background-color: white;
}